
@{
    ViewBag.Title = "Index";
}
<h1>在小小的花園裡面</h1>
<h2>挖呀挖呀挖</h2>
<h3>種小小的種子</h3>
<h4>開小小的花</h4>
<p>This is a paragraph</p>
<p>This is a paragraph</p>
<p>This is a paragraph</p>
<b>在大大的花園裡面</b><br>
<i>挖呀挖呀挖</i><br>
<u>種大大的種子開大大的花</u>
<p><a href="https://www.pu.edu.tw/">校網</a></p>
<form>
    帳號:<input type="text" name="account" value="" /><br />
    密碼:<input type="password" name="password" value="" /><br />
    年齡:<input type="text" name="age" value="" /><br />
    性別:<input type="radio" name="gender" value="A" />男的
        <input type="radio" name="gender" value="B" />女的<br />
    興趣:<input type="checkbox" name="hobby1" value="1" />看書
        <input type="checkbox" name="hobby2" value="2" />聽歌
        <input type="checkbox" name="hobby3" value="3" />游泳
        <input type="checkbox" name="hobby4" value="4" />打遊戲
</form>
